@import url("https://fonts.googleapis.com/css2?family=Faustina:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import "tailwindcss";

:root {
  --background: #110c29;
  --foreground: #050505;
  --priColor: #ffffff;
  --secColor: #aa7dfc;
}

* {
  box-sizing: border-box;
  font-family: "Faustina", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.bg-main {
  background-color: var(--background);
  color: var(--priColor);
}

.h-font {
  font-family: "Ubuntu", "Faustina", sans-serif;
  font-weight: 700;
  font-style: normal;
}
