@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@500&display=swap');
@import "tailwindcss";

:root {
  --background: #110C29;
  --foreground: #050505;
  --priColor: #ffffff;
  --secColor: #aa7dfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Faustina", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.bg-main {
  background-color: var(--background);
  color: var(--priColor);
}
